<h1>Tweets#show</h1>
<p>Find me in app/views/tweets/show.html.erb</p>

<hr>
<p><span>email: </span><%= @user.email %></p>
<p><span>ツイート内容: </span><%= @tweet.body %></p>
<hr>
<br>

<p>コメント一覧</p>
<% @comments.each do |comment| %>
  <hr>
  <p><span>email: </span><%= link_to comment.user.email, user_path(id: comment.user.id) %></p>
  <p><span>コメント内容: </span><%= comment.body %></p>
<% end %>
